@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    }


a:link {
    text-decoration: none;
    color: black;
    }

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    color: black;
    font-family: 'Poppins', sans-serif
    }

.nav-links1 li a{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    }

.nav-links1 {
    list-style: none;
}

.nav-links2 {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: space-around;
    width: 30%;
    font-size: 20px;
    letter-spacing: 3px;
    color: black
}

.nav-links2  {
    list-style: none;
    text-decoration: none;
    }

h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 64px;
    letter-spacing: 5px;
    margin-top: 30px;
    }

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-weight: 700;
    text-align: center;
    font-size: 34px;
    letter-spacing: 5px;
    }

p {
    font-family: 'Poppins', sans-serif;
    font-weight:lighter;
    text-align: center;
    font-size: 24px;
    margin: 50px;
    }

.row {
    align-content: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    }
  
  .column {
    flex: 33.33%;
    }

  img {
    margin: 15px;
    mix-blend-mode: luminosity;
    }

.footer {
    display: flex;
    align-content: center;
    margin: 30px;
    justify-content: center;
    }
